<link rel="stylesheet" href="bootstrap/bootstrap.min.css">
<% index=0 %>
<%- include('../menu') -%>
<br><br>
<div class="row text-center">
<div class="alert alert-danger">Rendszerhiba: <%= message %> <%= error.status %></div>
<!--pre><%= error.stack %></pre-->
</div>
