<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><%= title %></title>
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="ui/ui-bootstrap-2.5.0-csp.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
<link rel="stylesheet" href="stylesheets/style.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="angularjs/angular.min.js"></script>
<script src="angularjs/angular-animate.min.js"></script>
<script src="angularjs/angular-route.min.js"></script>
<script src="angularjs/angular-touch.min.js"></script>
<script src="ui/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src=<%= "ajs/"+js %> ></script>
<body ng-app="a" ng-controller="c" style="margin:10px;">
