<%- include('ajs_header', { title: 'A&E_js', js: 'index.js' }) -%>

<a href="https://bulma.io/documentation/overview/start/"
   target="_blank">Hello from Bulma's World!</a>
   
<%- include('ajs_footer') -%>
