<%- include('ajs_header', {
              title: 'A&E_js'
    } ) -%>
<hr>

Hello World!

<hr>
This project will teach you the

<a href="https://developer.mozilla.org/hu/docs/Web/JavaScript"
   target="_blank">JS</a>,
<a href="https://expressjs.com/"
   target="_blank">ExpressJS</a>,
<a href="http://ejs.co/"
   target="_blank">EJS</a>,
<a href="https://angularjs.org/"
   target="_blank">AngularJS</a>,
<a href="https://angular-ui.github.io/bootstrap/"
   target="_blank">Bootstrap</a>,
<a href="https://bulma.io/documentation/overview/start/"
   target="_blank">Bulma</a>, and so on.

<%- include('ajs_footer') -%>
